
.container{
   
    background-color: rgba(0, 0, 0, 0.582);
}
body{
    background-color: a;
}

#juice{
    background: linear-gradient(rgba(6, 208, 223, 0.726),rgba(243, 2, 243));
    
    box-shadow: rgba(0, 0, 0, 0.568) 5px 5px ;
    border-radius: 15px;
}
body{
    background: linear-gradient(rgb(10, 221, 211),rgb(243, 2, 243));
}